@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.list-sidebar ul .gallery li a  {
    color: #ffda1f;
}

.judul {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fitur-tambah {
    display: flex;
    justify-content: end;
}


.prestasi {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.container .tabel {
    margin-top: 30px;
    padding-top: 20px;
}

.container .tambah-data a {
    
}

.judul-admin {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

table tr td img {
    width: 100px;
}